<h1>Toppings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toppings.each do |topping| %>
      <tr id="topping_<%= topping.id %>">
        <td><%= topping.name %></td>
        <td><%= button_to 'Edit', edit_topping_path(topping), method: :get, class: "btn btn-edit" %></td>
        <td><%= button_to 'Delete', topping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Create a new topping', new_topping_path, method: :get, class: 'button-green' %>

