<div class="container mt-5">
  <h1 class="mb-4">Toppings</h1>

  <div class="mb-3">
    <%= link_to 'Pizza Manager', pizzas_path, class: 'btn btn-primary' %>
    <%= link_to 'Menu', '/', class: 'btn btn-secondary' %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @toppings.each do |topping| %>
        <% if topping.in_stock %>
          <tr id="topping_<%= topping.id %>">
            <td><%= topping.name %></td>
            <td><%= button_to 'Edit', edit_topping_path(topping), method: :get, class: "btn btn-primary" %></td>
            <td><%= button_to 'Delete', topping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to 'Create a new topping', new_topping_path, method: :get, class: 'btn btn-success' %>
</div>
