<div class="container mt-5">
  <h1>Edit Pizza</h1>

   <div class="mb-3">
    <%= link_to 'Menu', '/', class: 'btn btn-secondary' %>
    <%= link_to 'Toppings Manager', toppings_path, class: 'btn btn-primary' %>
  </div>

  <%= form_with(model: @pizza, url: pizza_path(@pizza), local: true) do |form| %>
    <% if @pizza.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@pizza.errors.count, 'error') %> prohibited this pizza from being saved:</h4>
        <ul>
          <% @pizza.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, 'Pizza Name' %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :topping_ids, 'Toppings' %>
      <% @toppings.sorted_by_stock_and_name.each do |topping| %>
        <div class="form-check">
          <%= form.check_box :topping_ids, { multiple: true, checked: @pizza.toppings.include?(topping) }, topping.id, nil %>
          <% if topping.in_stock %>
            <%= label_tag "pizza_topping_ids_#{topping.id}", topping.name, class: 'form-check-label' %>
          <% else %>
            <%= label_tag "pizza_topping_ids_#{topping.id}", "#{topping.name} (out of stock)", class: 'form-check-label text-danger' %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.submit "Update Pizza", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
