<div class="container mt-5">
  <h1>Edit Pizza</h1>

  <%= form_with(model: @pizza, local: true) do |form| %>
    <% if @pizza.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h4><%= pluralize(@pizza.errors.count, 'error') %> prohibited this pizza from being saved:</h4>
        <ul>
          <% @pizza.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, 'Pizza Name' %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :topping_ids, 'Toppings' %>
      <% @toppings.each do |topping| %>
        <div class="form-check">
          <%= check_box_tag 'pizza[topping_ids][]', topping.id, @pizza.toppings.exists?(topping.id) %>
          <%= label_tag "pizza_topping_#{topping.id}", topping.name, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.submit "Update Pizza", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
