<div class="container mt-5">
  <h2 class="mb-4">Pizza Manager</h2>

  <div class="mb-3">
    <%= link_to 'Menu', '/', class: 'btn btn-secondary' %>
    <%= link_to 'Toppings Manager', toppings_path, class: 'btn btn-primary' %>
  </div>

  <% if @pizzas.any? { |pizza| pizza.out_of_stock_toppings.count > 0 } %>
    <div class="alert alert-warning" role="alert">
      The toppings in red are currently out of stock.
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 30%;">Name</th>
        <th style="width: 40%;">Toppings</th>
        <th style="width: 30%;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @pizzas.each do |pizza| %>
        <tr>
          <td><%= pizza.name.capitalize %></td>
          <td>
            <% pizza.in_stock_toppings.each do |topping| %>
              <%= topping.name.capitalize %>
            <% end %>

            <% unless pizza.out_of_stock_toppings.empty? %>
              <br>
              <span style="color: red;">Out of stock: <%= pizza.out_of_stock_toppings.map(&:name).join(', ') %></span>
            <% end %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Actions">
              <%= link_to 'Edit', edit_pizza_path(pizza), class: 'btn btn-primary' %>
              <span class="mx-1"></span>
              <%= button_to 'Delete', pizza, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_to 'Create a new pizza', new_pizza_path, method: :get, class: 'btn btn-success' %>
</div>
